{% extends 'base.html' %}

{% block title %}About{% endblock %}

{% block content %}

<div>
    {% for product in products %}
        {% for item in product.item %}
           <br> <h3 class="text-center">{{item.title}}</h3><br>
            <div class="container">
                <p><b>First price:</b> {{item.price}} RON</p>
                <p><b>Data:</b> {{product.data.strftime('%d-%m-%Y')}}</p>
                <p><b>Link to product:</b> <a href="{{product.link}}">{{product.link}}</a></p>
            </div>
        {% endfor %}
    {%  endfor %}
    </div>

<div class="container">
    <form method="post" action="/view/{{id}}">
        <button type="submit" name="request" class="btn btn-success">Request</button>
    </form><br>
</div>

<div class="accordion container text-center" id="accordionExample">
    <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        Requests
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
        <div class="accordion-body">
            <div class="container">
                <table style="width:100%">
                  <tr>
                    <th>ID</th>
                    <th>Data</th>
                    <th>Price (RON)</th>
                    <th>Statistics</th>
                  </tr>
                  {% for request in requests %}
                      <tr>
                        <td>{{request.id}}</td>
                        <td>{{request.request_data.strftime('%d-%m-%Y')}}</td>
                        <td>{{request.request_price}} RON</td>
                          {% if request.statistic[0] == '+' %}
                            <td style="color: red">{{request.statistic}}</td>
                          {% else %}
                            <td style="color: green">{{request.statistic}}</td>
                          {% endif %}
                      </tr>
                  {% endfor %}
                </table>
            </div>
        </div>
    </div>
</div>
    <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
        Chart
      </button>
    </h2>
    <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <img src="/plot.png/{{id}}" alt="Dynamic Image">
      </div>
    </div>
  </div>
</div><br>

<div class="container">
    <a href="/" class="btn btn-danger">Back</a>
</div>

<div>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <p>{{message}}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}
</div>

<script>
    const acc = document.getElementsByClassName("accordion-header");
    let i;

    for (i = 0; i < acc.length; i++) {
        acc[i].addEventListener("click", function() {

        /* Toggle between adding and removing the "active" class,
        to highlight the button that controls the panel */

        this.classList.toggle("active");

        /* Toggle between hiding and showing the active panel */

        let panel = this.nextElementSibling;
        if (panel.style.display === "block") {
          panel.style.display = "none";
        } else {
          panel.style.display = "block";
        }
      });
    }

</script>

{% endblock %}
